  *{  margin: 0;
    font-family: 'Open Sans', sans-serif;

}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    color: #ffffff;
    height: 64px;
    font-weight: 700;
    font-size: 24px;
    padding: 18px 35px;
    border-radius: 5px;
    border: 0;
}

.header {
    background: #FFF8F3;
    background-repeat: no-repeat;
    padding-top: 90px;
    background-position: right bottom , left;
    background-image: url(../images/header_bg.png) , url("../images/developer.png");
   
   
}
/* header amd navegtion site */
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.line{
    line-height: 4pc;
}
.mary-item{
    font-size: 45px;
    font-weight: 800;
}
/* banner style */
.baner-item{
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-title {
    font-weight: 700;
    font-size: 85px;
}
.banner-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;

}
/* about section */
section{
    margin-top: 135px;

}
.about{
    text-align: center ;
    margin-top: 10px;
    background-color: #fff8f3;
    border-radius: 5px;    
    padding: 130px 150px;

}

.section-title {
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 700;
}
.section-description {
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}


.about .info-title {
    font-size: 20px;
    color: #757575;
}
.info-description {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
}
/* what-i-do */
.what-i-do{
margin-top: 130px;
}
.section-title{
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 34px;
}

.skill-container{
    display: flex;
    gap: 24px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    color: #757575;
}

/* resume section */

.resume-section{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;
}
.resume-content{
    display: flex;
    gap: 24px;
}
.resume-item{
    margin: 30px 30px;
}
.resume-heading {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
    color: #474747;
}
.resume-title {
    font-size: 20px;
    color: #474747;
    font-weight: 700;
    margin-bottom: 20px;
}
.resume-containe{
    color: #474747;
}
.btn{
    text-align: center;
    margin-top: 50px;
    
}
.contac{
    
    background: #fff8f3;
    padding: 130px 200px;
    display: flex;
    gap: 100px;
    
}
a{
    text-decoration: none;
}
.section-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.contac .section-title{
    text-align: left;
}
.contact input[type="text"], input[type="email"], textarea {
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
#cl{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px; 
}

 .btn-primarye {
    /* color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 20px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A; */
    color: #FFFFFF;
    padding: 10 px 10px ;
    background: #FD6E0A;
    padding: 10px 10px;
    font-size: 20px;
    width: 100px;
    border: none;
    border-radius: 5px;
    ;
} 


